
/* transition classes */

.dissolve {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--primary);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-out;
  }
  
  .dissolve.is-active {
    pointer-events: all;
    opacity: 1;
  }
  
  .wipe-horizontal {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 100;
    background-color: var(--primary);
    transition: 0.3s ease-out;
  }
  
  .wipe-horizontal.is-active {
    left: 0px;
  }
  
  .wipe-vertical {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: var(--primary);
    transition: 0.3s ease-out;
    z-index: 100;
  }
  
  .wipe-vertical.is-active {
    top: 0;
  }
  
